button {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
	
	border: 2px solid #AAA;
	width: 100%;
	height: 35px;
	margin: 5px 0 5px 0;
	
}button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}button:active {
	position:relative;
	top:1px;
}



.floatLeft{
	float:left;
}

.floatRight{
	float:right;
}

.clear{
	clear:both;
}

.center{
	text-align:center;
	margin-left: auto;
	margin-right: auto;
}

.hidden{
	display:hidden;
}


#dashboard{
	
	text-align: center;
}

#dashboard h1 {
	padding: 30px 10px 10px 10px;
}

#dashboard-item-list{
	margin: 0;
	padding: 0;
	list-style: none;
	width: 100%;
}

.dashboard-item{
	width: 49%;	
	box-sizing:border-box;
}

.dashboard-item, .dashboard-featured{
	padding: 10px;
	margin: 0;
	display: inline-block;
	text-align: center;
}

.dashboard-featured img{
	width: 120px;
	display: block;	
	margin: 0 auto;
	margin-bottom: 5px;
	
}

.dashboard-item img{
	display: block;	
	margin: 0 auto;
	margin-bottom: 5px;
	width: 80px;
}