button {
	background: #D49637;
	border: none;
	color: #FAF8F1;
	font-size: 1em;
	font-weight: 700;
	letter-spacing: 0.1em;
	line-height: 20px;
	padding: 10px 14px;
	position: relative;
	text-transform: uppercase;
	
}button:hover {
	background: #DAA553;
}button:active {
	position:relative;
	top:1px;
	background: #DAA553;
}



.floatLeft{
	float:left;
}

.floatRight{
	float:right;
}

.clear{
	clear:both;
}

.fullButton{
	width: 100%;
}

.leftButton{
	float:left;
	width: 48%;
}

.rightButton{
	float:right;
	width: 48%;
}

.center{
	text-align:center;
	margin-left: auto;
	margin-right: auto;
}

.hidden{
	display:hidden;
}


#dashboard{
	
	text-align: center;
}

#dashboard h1 {
	padding: 30px 10px 10px 10px;
}

#dashboard-item-list{
	margin: 0;
	padding: 0;
	list-style: none;
	width: 100%;
}

.dashboard-item{
	width: 49%;	
	box-sizing:border-box;
}

.dashboard-item, .dashboard-featured{
	padding: 10px;
	margin: 0;
	display: inline-block;
	text-align: center;
}

.dashboard-featured img{
	width: 120px;
	display: block;	
	margin: 0 auto;
	margin-bottom: 5px;
	
}

.dashboard-item img{
	display: block;	
	margin: 0 auto;
	margin-bottom: 5px;
	width: 80px;
}