body{
	background: transparent  !important;
}


.leaderboard.results{
	background: transparent;
	margin: 0;
	border: 0px;
}

.leaderboard.results li{
	position:relative;
	border-top: 0px;
	border-bottom: 0px;
	border: 0px;
	padding: 5px;
}

.leaderboard.results li:first-child .score-background{
	background: url('/modules/PointsTracker/images/success.png') 0  50% no-repeat;
	opacity: 0.4;
	background-size: 100%;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
}

.leaderboard.results li:last-child .score-background{
	background: url('/modules/PointsTracker/images/fail.png') 0 50% no-repeat;
	opacity: 0.4;
	background-size: 100%;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
}

.display-picture{
	float:left;
	margin-right: 10px;
}

.stat-text{
	font-size: 1em;
	font-weight: 500;
	color: #ddd;
}

.win-ratio{
	margin-left: 10px;
	font-size: 2.2em;
	color: #fff;
	float:right;
}

.show-chart{
	font-size: 1.5em;
	color: #fff;
	background: rgba(0,0,0,0.6);
	text-align:center;
	padding: 5px;
}

#chart{
  display:none;
}

#chart svg {
  height: 400px;
  width: 100%;
}

#chart svg .nv-legend text{
	font-weight:bold;
	font-size: 0.9em;
}
