



.new-game-container{
	padding: 0 10px 0 10px;
}

.game-details-container{
	display:none;
}

.players-selection-container{

}

.players-container{
	padding: 5px;
	border: 2px solid #ccc;
}

.player-container{
	float: left;
	margin: 2px;
	padding: 2px;
	border: 2px solid #999;
	border-radius: 5px;
	overflow:hidden;
	position:relative;
	cursor:pointer;
	line-height: normal
}



.player-container span{
	width: 100%;
	font-weight: bold;
	font-size: 0.65em;
	color: #fff;
	background: rgba(0,0,0,0.4);
	height: 20px;
	margin-top: -25px;
	display:block;
	padding-left: 3px;
	box-sizing:border-box;
	white-space: nowrap;
	overflow:hidden;
	text-overflow: ellipsis;
	position:relative;
	z-index: 2;
}

.player-container .SELECTED{

}

.player-container .checkbox{
	position:absolute;
	z-index:3;
	top: 0;
	width: 60px;
	height: 60px;
	display:none;
}


.players-controls{
	display:none;
}


.team-selection-container{
	display:none;
}

.team-container{
	box-sizing:border-box;
	height: 250px;
	border: 2px solid #999;
	border-radius: 5px;
	padding:1px;
	margin: 10px 0 10px 0;
	
}

.team-container .player-num-red,
.team-container .player-num-blue{
	font-size: 0.70em;
	font-weight:bold;
	text-align:center;
	width: 100%;
}

.team-container-red{
	float:left;
	height: 100%;
	width: 48%;
	border-right: 2px solid #ccc;
	color: #f00;
}

.team-container-blue{
	float:right;
	height: 100%;
	width: 48%;
	border-left: 2px solid #ccc;
	color:#00f
}

.team-controls{
	display:none;
}

















