
.nav{

}

.game{
	positon: relative;
}

.game .timestamp{
	font-size: 0.8em;
	color: #666;
	//float:right;
}

.vs-container{
	text-align:center;
}

.vs-container td{
	width: 33%;
	box-sizing: border-box;
}

.vs-container .players{
	font-size: 1.2em;
}


.game .score{
	font-size: 2em;
	font-weight:bold;
	text-align: center;
}

.game .score.WINNER{
	color: #FBB117;
}

h3{
	padding: 0 10px 0 10px;
}

.response-message{
	font-style: italic;
	text-align:center;
	padding: 0 10px 0 10px;
	font-size: 1.5em;
}