
.game-details-container{
	background: rgba(255,255,255,0.3);
	padding: 10px;
	margin: 10px;
	border: 2px solid #C4B9A2;
	position: relative;
	height: 50px
}

.game-title{
	font-size: 1.5em;
	font-weight:bold;
	color: #666;
}

.status{
	position: absolute;
	top: 0;
	right: 0;
	padding: 5px;
	border-bottom-left-radius: 10px;
	background: #C4B9A2;
	font-weight: bold;
	font-size: 0.8em;
	color: #fff;
}

.pts_win{
	font-size: 1em;
	position: absolute;
	left: 10px;
	bottom: 5px;
}

.timestamp{
	font-size: 1em;
	color: #666;
	position: absolute;
	right: 10px;
	bottom: 5px;
}

.score-container{
	padding: 0 10px 0 10px;
	margin-bottom: 20px;
}

.score-table{
	width: 100%;
	height: 100%;
	border: 2px solid #C4B9A2;
	text-align:center;
	background: rgba(255,255,255,0.3);
}

.score-table th{
	font-size: 1.2em;
	//font-weight:bold;
	text-align:center;
}

.score-table td{
	font-size: 0.9em;
	font-weight:bold;
}

.score-table td img.delete_score{
	width: 15px;
	height: 15p;
	cursor:pointer;
	opacity: 0.5;
}

.score-table td img.delete_score:hover,
.score-table td img.delete_score:active{
	opacity: 0.9;
}

.score-table td.round_num{
	color: #666;
	font-weight:normal;
	text-align: right;
	width: 10px;
}

.score-control{
	margin-bottom: 10px;
	padding: 10px;
	border: 2px solid #C4B9A2;
	background: rgba(255,255,255,0.3);
}

.score-control-message{
	width: 100%;
	text-align:center;
	font-size: 0.8em;
	font-weight: bold;
}

.players-container{
	margin: 5px 0 5px 0;	
}

.player-container{
	float: left;
	margin: 2px;
	padding: 2px;
	border: 2px solid #eee;
	border-radius: 5px;
	overflow:hidden;
	position:relative;
	cursor:pointer;
	line-height: normal;
	width: 40px;
	height: 40px
}

.player-container span{
	width: 100%;
	font-weight: bold;
	font-size: 0.7em;
	color: #fff;
	background: rgba(0,0,0,0.4);
	height: 20px;
	margin-top: -25px;
	display:block;
	padding: 2px 0 0 2px;
	box-sizing:border-box;
	white-space: nowrap;
	overflow:hidden;
	text-overflow: ellipsis;
	position:relative;
	z-index: 2;
	font-family: Helvetica !important;
}

.player-container .placement{
	position:absolute;
	z-index:3;
	left: 0;
	top: 0;
	height: 40px;
	width: 40px;
	padding: 5px 0 0 12px;
	color: #FFD700;
	font-weight: bold;
	font-size: 2em;
	background: rgba(0,0,0,0.5);
	display:none;
}

























