
h3.message{
	margin: 10px 0 10px 0;
	width: 100%;
	box-sizing:border-box;
	text-align:center;
	//text-transform: uppercase;
	font-size: 0.9em;
}

.new-game-container{
	padding: 0 10px 0 10px;
}

.players-selection-container{
}

.players-container{
}

.player-container{
	float: left;
	margin: 2px;
	padding: 2px;
	border: 2px solid #999;
	border-radius: 5px;
	overflow:hidden;
	position:relative;
	cursor:pointer;
	line-height: normal
}



.player-container span{
	width: 100%;
	font-weight: bold;
	font-size: 0.65em;
	color: #fff;
	background: rgba(0,0,0,0.4);
	height: 20px;
	margin-top: -25px;
	display:block;
	padding-left: 3px;
	box-sizing:border-box;
	white-space: nowrap;
	overflow:hidden;
	text-overflow: ellipsis;
	position:relative;
	z-index: 2;
}

.player-container .SELECTED{

}

.player-container .checkbox{
	position:absolute;
	z-index:3;
	top: 0;
	width: 60px;
	height: 60px;
	display:none;
}


.players-controls{
	margin-top: 10px;
	display:none;
}


.team-selection-container{
	display:none;
}

.team-selection-hint{
	width: 100%;
	font-size: 0.7em;
	text-align:center;
}

.team-selection-control{
	margin: 10px 0 10px 0;
}

.team-container{
	box-sizing:border-box;
	height: 320px;
	//border: 2px solid #999;
	//border-radius: 5px;
	//padding:1px;
	margin: 10px 0 10px 0;
}

.team-container .player-num-red,
.team-container .player-num-blue{
	font-size: 0.70em;
	font-weight:bold;
	text-align:center;
	width: 100%;
	border-bottom: 1px solid #ccc;
}

.team-container-red,
.team-container-blue{
	height: 95%;
	width: 48%;
	border-right: 1px solid #ccc;
	padding: 10px 10px 0 0;
	box-sizing:border-box;
}
.team-container-red{
	float:left;
	color: #f00;
}

.team-container-blue{
	float:right;
	color: #00f;
}

.team-controls{
	display:none;
	font-size: 0.70em;
	font-weight:bold;
	color: #fff;
	background: rgba(0,0,0,0.4);
	padding: 10px;
	margin: 10px 0 10px 0;
}



