
.content-container{
	border-radius: 9px;
}

.game-details-container{
	padding: 10px;
	margin: 15px 10px;
	position: relative;
	height: 50px;
	background: rgba(255,255,255,0.3);
	box-shadow: inset 1px 1px 3px #000;
}

.game-title{
	font-size: 1.5em;
	font-weight:bold;
	color: #fff;
}

.status{
	position: absolute;
	top: 1px;
	right: 0;
	padding: 5px;
	border-bottom-left-radius: 10px;
	background: #aaa;
	font-weight: bold;
	font-size: 0.8em;
	color: #fff;
	box-shadow: 1px 1px 2px #000;
	border-top-right-radius: 9px;
}

.pts_win{
	font-size: 1em;
	position: absolute;
	left: 10px;
	bottom: 5px;
	color: #fff;
}

.timestamp{
	font-size: 1em;
	color: #fff;
	position: absolute;
	right: 10px;
	bottom: 5px;
}

.score-container{
	padding: 0 10px 0 10px;
	margin-bottom: 20px;
}

.score-table{
	width: 100%;
	height: 100%;
	text-align:center;
	padding: 5px;
	margin-bottom: 15px;
	background: rgba(255,255,255,0.3);
	box-shadow: inset 1px 1px 3px #000;
}

.score-table th{
	font-size: 1.2em;
	text-align:center;
	color: #fff;
	font-weight:bold;
}

.score-table td{
	font-size: 1.5em;
	color: #fff;
}

.score-table .delete_score{
	font-size: 1.1em;
	cursor:pointer;
	opacity: 0.5;
	color: rgba(0,0,0,0.8);
}

.score-table .delete_score:hover,
.score-table .delete_score:active{
	color: #000;
}

.score-table td.round_num{
	color: #333;
	font-weight:normal;
	text-align: right;
	width: 10px;
}

.score-control{
	margin-bottom: 15px;
	padding: 10px;
	background: rgba(255,255,255,0.3);
	box-shadow: inset 1px 1px 3px #000;
}

.score-control-message{
	width: 100%;
	text-align:center;
	font-size: 1.2em;
	color: #fff;
	font-weight: bold;
}

.players-container{
	margin: 5px 0 5px 0;
	
}

.player-container .placement{
	width: 60px !important;
	height: 60px !important;
	font-size: 4em;
}


.player-container{
	float: left;
	//display: inline-block;
	margin: 2px;
	padding: 2px;
	border: 2px solid #eee;
	border-radius: 5px;
	overflow:hidden;
	position:relative;
	cursor:pointer;
	line-height: normal;
	width: 80px !important;
	height: 80px !important;
}

.player-container span{
	width: 100%;
	font-weight: bold;
	font-size: 0.7em;
	color: #fff;
	background: rgba(0,0,0,0.4);
	height: 20px;
	margin-top: -25px;
	display:block;
	padding: 2px 0 0 2px;
	box-sizing:border-box;
	white-space: nowrap;
	overflow:hidden;
	text-overflow: ellipsis;
	position:relative;
	z-index: 2;
	font-family: Helvetica !important;
}

.player-container .placement{
	position:absolute;
	z-index:3;
	left: 0;
	top: 0;
	width: 100px !important;
	height: 100px !important;
	font-size: 3em;
	padding: 5px 0 0 8px;
	color: #FFD700;
	font-weight: bold;
	background: rgba(0,0,0,0.5);
	display:none;
}

























