
.heading{
	font-size: 1.5em;
	color: #fff;
	padding: 0 10px 5px 10px;
}

.heading.response-message{
	text-align:center;
}

.nav{
	border: 0px;
	box-shadow: inset 1px 1px 2px #000;
	background: #666;
	padding-left: 2px;
}

.nav li.game{
	border-top: 1px solid #777;
	border-bottom: 1px solid #555;
}

.nav li.game:first-child{
	border-top: 0px;
}

.nav li.game:last-child{
	border-bottom: 0px;
}

.game{
	positon: relative;
}

.game .timestamp{
	font-size: 1em;
	color: #fff;
	//float:right;
}

.vs-container{
	text-align:center;
}

.vs-container td{
	width: 33%;
	box-sizing: border-box;
	color: #fff;
}

.vs-container .players{
	font-size: 1.2em;
	color: #fff;
}

.game .score{
	font-size: 2em;
	font-weight:bold;
	text-align: center;
	color: #ddd;
}

.game .score.WINNER{
	color: #FBB117;
}


